<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PremierM.My.MySettings.DentisConnectionString" connectionString="Data Source=192.168.0.182;Initial Catalog=Dentis;Persist Security Info=True;User ID=sa;Password=den123$%^;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="PremierM.My.MySettings.DentisConnectionString1" connectionString="Data Source=192.168.1.132;Initial Catalog=Dentis;Persist Security Info=True;User ID=sa;Password=den123$%^"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
